.bodyContacto {
  background-image: url(../images/tienda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.formulario {
  text-align: center;
}
.formulario .fondoFormulario {
  background-color: rgba(58, 53, 53, 0.798);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 30px;
}
.formulario .mb-3 {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario .acercate {
  margin-top: 2%;
}
.formulario .formulario {
  text-align: center;
}
.formulario .formulario iframe {
  margin-bottom: 100px;
}
.formulario .msjContacto {
  margin-bottom: 100px;
}
.formulario .btn {
  margin-top: 30px;
  margin-bottom: 60px;
}
.formulario .mapa {
  margin-top: 45px;
  margin-left: 10px;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #292C3E;
  color: white;
  font-size: large;
  text-align: justify;
  margin-right: 10px;
}

.pieDeFotos {
  font-size: small;
  font-style: italic;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

main {
  margin-left: 20px;
  margin-top: 50px;
  border-bottom: 20px;
}
main p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: justify;
}

h1, h2, li, h3, h4, .textoFormulario {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.card-text {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.text-body-secondary {
  text-align: center;
}

header .imagenPortada img {
  display: block;
  width: 100%;
  height: 200px;
}
header .imgInicio {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgb(18, 11, 149) 0%, rgb(1, 1, 24) 35%, rgb(18, 11, 149) 100%);
  color: aliceblue;
  text-align: center;
  margin-top: 0;
  justify-content: center;
}
header .imgInicio .imgNav {
  width: 100px;
  border-radius: 10px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
header .nav-link {
  color: white !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}
header .portada {
  width: 100%;
  height: 250px;
}
header .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  line-height: 50px;
  text-decoration: none;
  background-color: darkblue;
  width: 100%;
}
header .menu li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: aliceblue;
}
header .bg-dark {
  margin-top: 1px;
}
header .container {
  margin-top: 1px;
  padding: 5px;
}
header .navbar {
  background-color: rgb(33, 37, 41) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
header .navbar-nav {
  width: 100%;
}
header .collapse {
  justify-content: center;
  font-size: larger;
}
header .active {
  background-color: rgba(14, 3, 168, 0.74);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
header .navbar-toggler {
  background-color: aliceblue;
}

.esclavos {
  width: 300px;
  height: 300px;
}

.esclavitud {
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.howlinWolf {
  display: block;
  max-width: 100%;
  height: 600px;
  margin: 0 auto;
}

.howlinWolfImg {
  text-align: center;
}

.parrafoDos {
  margin-top: 90px;
}

.imagenHistoriaDos {
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
}

.esclavitudDos {
  width: 400px;
  height: 300px;
  margin-right: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  color: black;
}

.imagenHistoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.crazyBlues {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.tituloContainer {
  background-color: black;
  width: 100%;
  height: 50px;
}
.tituloContainer .parrafoContainer {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #e6e6e6;
  letter-spacing: 5px;
  margin: 0;
  padding: 10px 10px 10px 30px;
}

.containerHistoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  height: auto;
  background-color: black;
  justify-items: flex-start;
  text-align: center;
}
.containerHistoria .itemContainterHistoria {
  width: 50%;
  height: 50%;
}
.containerHistoria .itemContainterHistoria .parrafoContainerHistoria {
  text-align: center;
  font-size: small;
  color: white;
}
.containerHistoria .itemContainterHistoria .imgHistoria {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 30px;
  margin-top: 30px;
  max-height: 100%;
  box-shadow: 0px 0px 5px 1px black;
  align-items: center;
}

@media (max-width: 1250px) {
  .manal .d-block {
    flex-direction: column !important;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .manal .d-block {
    gap: 10px;
  }
  .manal .d-block .fotoManal {
    max-width: 300px;
    max-height: 200px;
  }
  .videosArgentina,
  .otero,
  .crazyBlues,
  .esclavitud,
  .esclavitudDos,
  .mapa,
  .form-control {
    max-width: 90%;
    max-height: 80%;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }
  .imagenHistoria,
  .imagenHistoriaDos {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
.bodyVariantes {
  background-image: url(../images/fondoVariantes.png);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.listaVariantes {
  margin-left: 20px;
}

h4, h2 {
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.varianteUno {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  height: auto;
}
.contenedor1 .divisorio {
  background-color: white;
  width: 60px;
  height: 20px;
}
.contenedor1 .contenedor2 {
  height: auto;
  gap: 20px;
}
.contenedor1 .img1 {
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 30px;
  margin-top: 30px;
  max-height: 100%;
  height: 445px;
  box-shadow: 0px 0px 5px 1px black;
  margin-right: 100px;
  transition: 1s;
}
.contenedor1 .img1:hover, .contenedor1 .img2:hover {
  transform: scale(1.5);
  height: 500px;
  width: 500px;
}
.contenedor1 .img2 {
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 30px;
  margin-top: 30px;
  max-height: 100%;
  height: 445px;
  box-shadow: 0px 0px 5px 1px black;
  margin-left: 100px;
  transition: 1s;
}
.contenedor1 .parrafosVariantes1, .contenedor1 .parrafosVariantes2 {
  font-size: small;
  font-style: italic;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  width: 350px;
  margin-top: 5px;
}
.contenedor1 .parrafosVariantes1 .parrafosVariantes2, .contenedor1 .parrafosVariantes2 .parrafosVariantes2 {
  margin-left: 200px;
}

.variantesSection {
  display: flex;
  width: 60%;
  height: 650px;
  border-radius: 2px;
  margin: auto;
  box-shadow: 0px 0px 5px 1px black;
}
.variantesSection .variantesImg {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  text-align: justify;
  opacity: 0.8;
  transition: width 0.3s, opacity 0.3s, filter 0.3s;
  border-radius: 5px;
}
.variantesSection .variantesImg:hover {
  width: 500px;
  opacity: 1;
  filter: contrast(120%);
}

.contenedoresVariantes {
  background-color: rgba(58, 53, 53, 0.368);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.contenedoresVariantes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo\ variantes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.bodyIndex {
  background-image: url(../images/fondoIndex.png);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section .card-group {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50%;
}
section .card-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
section .imagenesInicio {
  display: flex;
  justify-content: center;
}
section .card-img-top {
  width: 400px;
  height: 300px;
  border-radius: 10px !important;
  max-width: 100%;
  object-fit: cover;
}
section .card-body p {
  margin-top: 20px;
  color: white;
}
section .card-body {
  background-color: #384155;
}
section .card-footer {
  background-color: #BEBEBE;
  height: 15%;
  max-height: 12%;
  overflow: max-content;
}
section .card-footer .text-body-secondary {
  display: flex;
  text-size-adjust: auto;
  word-break: break-all;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
  white-space: normal;
}

.d-block {
  width: 40%;
  height: 80%;
  object-fit: cover;
  border-radius: 1%;
}

.carouselInicio {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}
.carouselInicio .carousel {
  width: 100%;
  height: 100%;
}
.carouselInicio .carouselExampleCaptions {
  width: 100%;
}
.carouselInicio .carousel-caption {
  background-color: rgba(43, 40, 40, 0.603);
  max-width: auto;
}
.carouselInicio .carousel-control-next,
.carouselInicio .carousel-control-prev {
  background-color: rgba(43, 40, 40, 0.603);
  max-width: 100px;
}

.bienvenida {
  margin-top: 45px;
  margin-left: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.subtituloMenu {
  margin-top: 150px;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.bluesInicio img {
  width: 500px;
  height: 200px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.txt-importante:hover {
  color: red;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.txt-importante:hover .txt-complementario:hover {
  color: blue;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.fondoBluesEnArgentina {
  background-image: url(../images/bandera\ argentina.jpg);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contenedorManal {
  background-color: rgba(58, 53, 53, 0.368);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.contenedorManal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo\ manal.jpg);
  max-width: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.contenedorPappo {
  background-color: rgba(58, 53, 53, 0.368);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.contenedorPappo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo\ pappo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.contenedorMemphis {
  background-color: rgba(58, 53, 53, 0.368);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.contenedorMemphis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo\ memphis.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.contenedorMississippi {
  background-color: rgba(58, 53, 53, 0.368);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.contenedorMississippi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo\ mississippi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.manal {
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
}
.manal .fotoManal {
  width: 400px;
  height: 300px;
  margin-right: 10px;
  border-radius: 10px;
}
.manal .parrafoManal {
  font-size: small;
  font-style: italic;
  text-align: center;
}

.bluesArgentino {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  width: auto;
  object-fit: cover;
}

.parrafoArgentina {
  margin-top: 60px;
}

.otero {
  width: 560px;
  height: 315px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 1px black;
}

div iframe {
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
