.formulario {
    text-align: center;
    
    .mb-3 {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
        .acercate {
        margin-top: 2%;
    }

    .formulario {
        text-align: center;

        iframe {
            margin-bottom: 100px;
        }
    }

    .msjContacto {
        margin-bottom: 100px;
    }

   .btn{
    margin-top: 30px;
    margin-bottom: 60px;
   }

    .mapa {
        margin-top: 45px;
        margin-left: 10px;
    }

}