.manal {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;

    .fotoManal {
        width: 400px;
        height: 300px;
        margin-right: 10px;
        border-radius: 10px;
    }

    .parrafoManal {
        font-size: small;
        font-style: italic;
        text-align: center;
    }

}



.bluesArgentino {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    width: auto;
    object-fit: cover;
}

.parrafoArgentina {
    margin-top: 60px;
}


.otero {
    width: 560px;
    height: 315px;
    border-radius: 10px;
    object-fit: cover;
}

div iframe {
    border-radius: 10px;
}