* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


body {
    background-color: #292C3E;
    color: white;
    font-size: large;
    text-align: justify;
    margin-right: 10px;
}

.pieDeFotos {
    font-size: small;
    font-style: italic;
    text-align: center;
}

main {
    margin-left: 20px;
    margin-top: 50px;
    border-bottom: 20px;

    p {
        margin-top: 20px;
        margin-bottom: 20px;
        text-shadow: $sombreado;
        text-align: $textoJustificado;
    }
}

h1, h2, li, h3, h4{
    text-shadow: $sombreado;
}

.card-text{
    text-align: center;
    text-shadow: $sombreado;
}

.text-body-secondary{
    text-align: center;
}