.pieDeFotos {
    font-size: small;
    font-style: italic;
    text-align: center;
}

main {
    margin-left: 20px;
    margin-top: 50px;
    border-bottom: 20px;

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}