header {

  .imagenPortada {
    img {
      display: block;
      width: 100%;
      height: 200px;
    }
  }

  .imgInicio {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, $color1 0%, $color2 35%, $color1 100%);
    color: aliceblue;
    text-align: center;
    margin-top: 0;
    justify-content: center;

    .imgNav {
      width: 100px;
      border-radius: 10px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      background-size: 100% auto;
    }

  }

  .nav-link {
    color: white !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
  }

  .portada {
    width: 100%;
    height: 250px;
  }

  .menu {
    li {
      list-style: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    line-height: 50px;
    text-decoration: none;
    background-color: darkblue;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }

  .bg-dark {
    margin-top: 1px;
  }

  .container {
    margin-top: 1px;
    padding: 5px;
  }

  .navbar {
    background-color: rgb(33, 37, 41) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }


  .navbar-nav {
    width: 100%;
  }

  .collapse {
    justify-content: center;
    font-size: larger;
  }

  .active {
    background-color: rgba(14, 3, 168, 0.74);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
  }

  .navbar-toggler {
    background-color: aliceblue;
  }


}