.bodyHistoria {
  background-image: url(../images/fondoHistoria.png);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.esclavos {
  width: 300px;
  height: 300px;

  .esclavitud {
    width: 400px;
    height: 300px;
    border-radius: 5px;

  }
}

.howlinWolf {
  display: block;
  max-width: 100%;
  height: 600px;
  margin: 0 auto
}

.howlinWolfImg {
  text-align: center;
  object-fit: cover;
}

.parrafoDos {
  margin-top: 90px;

}

.imagenHistoriaDos {
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
object-fit: cover;
}

.esclavitudDos {
  width: 400px;
  height: 300px;
  margin-right: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  color: black;
  object-fit: cover;
}


.imagenHistoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.crazyBlues {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}





.tituloContainer {
  background-color: black;
  width: 100%;
  height: 50px;


  .parrafoContainer {
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #e6e6e6;
    letter-spacing: 5px;
    margin: 0;
    padding: 10px 10px 10px 30px;

  }

}


.containerHistoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  height: auto;
  background-color: black;
  justify-items: flex-start;
  text-align: center;

  .itemContainterHistoria {
    width: 50%;
    height: 50%;

    .parrafoContainerHistoria {
      text-align: center;
      font-size: small;
      color: white
    }


    .imgHistoria {
      width: 400px;
      height: 250px;
      border-radius: 10px;
      object-fit: cover;
      margin-bottom: 30px;
      margin-top: 30px;
      max-height: 100%;
      box-shadow: 0px 0px 5px 1px black;
      align-items: center;



    }
  }

}



.linea-tiempo {
  position: relative;
  width: 500px;
  max-width: 95vw;
  height: 100%;
  font-family: Arial;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  

}

.linea-tiempo::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: white;
  left: 50%;
  height: 100%;
  border-radius: 10px;
}

.momento {
  position: relative;
  width: 45%;
  box-sizing: border-box;

}

.momento:nth-child(even) {
  left: 55%;
}

.momento::after {
  content: '';
  position: absolute;
  top: calc(50% + 10px);
  right: calc(-11.11% - 11.5px);
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.momento:nth-child(even)::after {
  left: calc(-11.11% - 8.5px);
}

.momento h3 {
  margin: 10px 0px;
  font-size: 30px;
  text-align: center;
}

.momento .descripcion {
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  line-height: 22px;
  font-size: 14px;
}

.momento .descripcion::after {
  content: '';
  position: absolute;
  right: -10px;
  top: calc(50% + 10px);
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #eee;
}

.momento:nth-child(even) .descripcion {
  background-color: #3393FE;
  color: white;
}

.momento:nth-child(even) .descripcion::after {
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #3393FE;
  border-left: none;
}