.historiaBlues {
    .esclavos {
      width: 300px;
      height: 300px;
    }
  
    .esclavitud {
      width: 400px;
      height: 300px;
      border-radius: 5px;
    }
  
    .howlinWolf {
      display: block;
      max-width: 100%;
      height: 600px;
      margin: 0 auto;
    }
  
    .howlinWolfImg {
      text-align: center;
    }
  
    .parrafoDos {
      margin-top: 90px;
    }
  
    .imagenHistoriaDos {
      display: flex;
      flex-direction: row-reverse;
      gap: 60px;
    }
  
    .esclavitudDos {
      width: 400px;
      height: 300px;
      margin-right: 10px;
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;
      color: black;
    }
  
    .imagenHistoria {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 60px;
    }
  
    .crazyBlues {
      display: grid;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
    }
  }