@media (max-width: 1250px) {
    .manal 
    .d-block{
        flex-direction: column !important;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .manal 
    .d-block{
        gap: 10px;

        .fotoManal {
            max-width: 300px;
            max-height: 200px;

        }

    }


    .videosArgentina,
    .otero,
    .crazyBlues,
    .esclavitud,
    .esclavitudDos,
    .mapa,
    .form-control 
    {
        max-width: 90%;
        max-height: 80%;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .imagenHistoria,
    .imagenHistoriaDos {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

}