@media (max-width: 1250px) {

    .manal,
    .d-block
    .imagenHistoria,
    .imagenHistoriaDos,
    .esclavitud    {
        flex-direction: column !important;
        text-align: center;
        justify-content: center;
        align-items: center;
       }


    .containerIndex{
        flex-direction: column;
        justify-content: center;
        max-width: 100%; 
        height: auto; 
        margin: 10px;
    
        }

        .imgContainerIndex {
            max-width: 90%;
            max-height: 80%;

            
    }
}

@media (max-width: 768px) {

    .manal,
    .d-block {
        gap: 10px;

        .fotoManal {
            max-width: 300px;
            max-height: 200px;

        }
    }

    .videosArgentina,
    .otero,
    .crazyBlues,
    .mapa,
    .form-control {
        max-width: 90%;
        max-height: 80%;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .imagenHistoria,
    .imagenHistoriaDos {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

}