@media (max-width: 1250px) {

    .manal,
    .d-block,
    .imagenHistoria,
    .imagenHistoriaDos,
    .esclavitud {
        flex-direction: column !important;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .esclavitud{
      width: 400px;
      height: 300px;
    }

    .imgContainerIndex {
        height: 300px !important;
        width: 200px !important;

    }

}

@media (max-width: 768px) {
    .esclavitud,
    .esclavitudDos{
        width: 300px;
        height: 250px;
      }

    .manal,
    .d-block {
        gap: 10px;

        .fotoManal {
            max-width: 300px;
            max-height: 200px;

        }
    }

    .videosArgentina,
    .otero,
    .crazyBlues,
    .mapa,
    .form-control {
        max-width: 90%;
        max-height: 80%;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .imagenHistoria,
    .imagenHistoriaDos {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .containerIndex {
        flex-direction: column !important;
    }

}


@media (min-width: 1250px) {

    .carouselInicio {
        width: 50%;
        height: 20%;
    }
}