.bodyVariantes {
  background-image: url(../images/fondoVariantes.png);
  @include fondo;
}


.listaVariantes {
  margin-left: 20px;
}

h4,
h2 {
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.varianteUno {
  margin-top: 50px;
  margin-bottom: 50px;
}



.contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  height: auto;
  gap: 25px;
  padding-bottom: 15px;

  .divisorio {
    background-color: white;
    width: 60px;
    height: 20px;
  }

  .contenedor2 {
    height: auto;
    gap: 20px;
  }

  .img1,
  .img2 {
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5px;
    margin-top: 30px;
    max-height: 100%;
    height: 445px;
    box-shadow: 0px 0px 5px 1px black;
    transition: 1s;

  }

  .contenedor2:hover {
    transform: scale(1.1);

  }



  .parrafosVariantes1,
  .parrafosVariantes2 {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    text-shadow: $sombreado;


    .parrafosVariantes2 {
      margin-left: 200px;

    }

  }

}


.variantesSection {
  display: flex;
  width: 60%;
  height: 650px;
  border-radius: 2px;
  margin: auto;
  box-shadow: 0px 0px 5px 1px black;

  .variantesImg {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    text-align: justify;
    opacity: 0.8;
    transition: width 0.3s, opacity 0.3s, filter 0.3s;
    border-radius: 5px;

    &:hover {
      width: 500px;
      opacity: 1;
      filter: contrast(120%);
    }
  }
}

.contenedoresVariantes {
  background-color: rgba(58, 53, 53, 0.368);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.contenedoresVariantes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo\ variantes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

@media (max-width: 1250px) {

  .contenedoresVariantes,
  .contenedor1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .variantesSection {
    display: none;
  }
}