* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: rgba(245, 218, 187, 0.349)
}



.menuNavegable {
    background-color: rgb(33, 37, 41);

}



.nav-link {
    color: white !important;
}


.portada {
    width: 100%;
    height: 250px;
}

header {
    text-align: center;

}

.menu li {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    line-height: 50px;
    text-decoration: none;
    background-color: darkblue;
    width: 100%;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.imgInicio {
    display: flex;
    flex-direction: row;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    margin-top: 0;
    justify-content: center;
}

.imgInicio img {
    margin-right: 10px;
}

.listaVariantes {
    margin-left: 20px;
}

h4 {
    text-decoration: underline;
}


main {
    margin-left: 20px;
    margin-top: 50px;
    border-bottom: 20px;
}

.acercate {
    margin-top: 2%;
}

.formulario {
    text-align: center;
}

.formulario iframe {
    margin-bottom: 100px;
}

.mapa {
    margin-top: 45px;
    margin-left: 10px;
}


main p {
    margin-top: 20px;
    margin-bottom: 20px;

}


.esclavos {
    width: 300px;
    height: 300px;

}


/* .bluesInicio {
    width: 600px;
    height: 300px;
    margin-left: 700px;
    margin-top: 100px;

} */


.bluesInicio img {
    width: 500px;
    height: 200px;
}

.bienvenida {
    margin-top: 45px;
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
}

.robertJohnson {
    width: 400px;
    height: 300px;
    text-align: center;
}

.robertJohnsonImg {
    text-align: center;
}

.subtituloMenu {
    margin-top: 150px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: black;
}

.txt-importante:hover {
    color: red;
    font-weight: bold;
}

.txt-complementario:hover {
    color: blue;
    font-weight: bold;
}


.imagenHistoria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.pieDeFotos {
    font-size: small;
    font-style: italic;
    text-align: center;
}


.esclavitud {
    width: 400px;
    height: 300px;

}

.howlinWolf {
    display: block;
    width: 400px;
    height: 600px;
    margin: 0 auto
}

.howlinWolfImg {
    text-align: center;
}

.parrafoDos {
    margin-top: 90px;

}

.imagenHistoriaDos {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;

}

.esclavitudDos {
    width: 400px;
    height: 300px;
}


.crazyBlues {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

/* a:visited{
    color: blueviolet;
} */

.card-title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}


.imagenesInicio {
    display: flex;
    justify-content: center;
}


.card-img-top {
    width: 400px;
    height: 300px;
    border-radius: 10px !important;
    max-width: 100%;
}

.card-body p {
    margin-top: 20px;
}


.card-group {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%
}


/* .suscribite{
display: flex;
flex-direction: column;

} */


.manal {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;

}

.manal img {
    width: 400px;
    height: 300px;
    margin-right: 10px;
    border-radius: 10px;
    width: auto;
}


.parrafoManal {
    font-size: small;
    font-style: italic;
}

.d-block {
    width: 10%;
    height: 10%;
}


.bluesArgentino {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    width: auto;
}

.otero {
    width: 560px;
    height: 315px;
    border-radius: 10px;

}

div iframe {
    border-radius: 10px;
}


.d-block {
    width: 560px;
    height: 315px;

}


.carouselInicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.carousel {
    width: 560px;
    height: 315px;
}

.carousel-caption {
    background-color: rgba(43, 40, 40, 0.603);
}

.bg-dark {
    margin-top: 1px;
}

.container {
    margin-top: 1px;
    padding: 5px;
}


.navbar {
    background-color: rgb(33, 37, 41) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.imgNav {
    width: 100px;
    border-radius: 10px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

}

.navbar-nav {
    width: 100%;

}


.collapse {
    justify-content: center;
    font-size: larger;
}

.active {
    background-color: rgba(14, 3, 168, 0.74);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

}

.navbar-toggler {
    background-color: aliceblue;
}

button {
    margin-top: 10px;
}

.mb-3 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


.form-control {
    width: auto;
}

.fotoManal{
    margin-right: 10px;
}

@media (max-width: 768px) {
    .manal {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .fotoManal {
        max-width: 300px;
        max-height: 400px;

    }

    .videosArgentina, .otero {
        max-width: 90%;
        max-height: 80%;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

}